<!DOCTYPE html>
<html lang='en'>
   <head>
      <title>Dartboard: Sneezy</title>
      <meta charset='utf-8'>
      <meta name='viewport' content='width=device-width, initial-scale=1'>

      <!-- Uncomment for direct open -->
      <!-- <script src='../static/guiEngine.js' type=text/javascript></script> -->
      <!-- <link rel='shortcut icon' href='../static/favicon.ico'> -->
      <!-- <script src='../static/loader.js' type=text/javascript></script>
      <link rel='stylesheet' href='../static/index.css'>
      <link rel='stylesheet' href='../static/colors.css'>

      <script src='../static/jquery.js' type='text/javascript'></script>
      <link href='../static/emoji.css' rel='stylesheet'> -->

      <!-- Uncomment for Tornado open -->
      <!-- <script src='{{ static_url('guiEngine.js') }}' type=text/javascript></script> -->
      <link rel='shortcut icon' href='{{ static_url('favicon.ico') }}'>
      <script src='{{ static_url('loader.js') }}' type=text/javascript></script>
      <link rel='stylesheet' href='{{ static_url('index.css') }}'>
      <link rel='stylesheet' href='{{ static_url('colors.css') }}'>

      <script src='{{ static_url('jquery.js') }}' type='text/javascript'></script>
   </head>
   <body>
      <div id='global'>
         <div id='title'>
            <p class='big'>Dartboard: Sneezy</p>
         </div>
         <div id='content'>
            <p class='big' id='welcome-message'>Welcome!!</p>
            <div id='loader'></div>
         </div>
      </div>
      <script>
      $(document).ready(function() {
         link.start();
      });
      </script>
   </body>
</html>
