<script>
   function update(data) {
      display_matrix(data.display);
   }

   function display_matrix(display) {
      // example data
      // data = [['X01', 'Battleship'], ['Players'], ['1', '2', '3', '4']]

      // erase all previous content
      var content = document.getElementById('content');
      content.innerHTML = '';

      // make a column for each of the 3 lists in the 3xn string matrix
      display.forEach(function(item) {
         content.appendChild(column(item));
      });
   }

   function column(col) {
      // make column
      var elem = document.createElement('div');
      elem.className = 'col-4';

      if (Array.isArray(col)) {
         // make list from col
         col.forEach(function(item) {

            // create needed elements
            var p = document.createElement('p')
            var text = document.createTextNode(item);

            // change corresponding class names
            p.className = 'little';

            // append elements to one another to create structure
            p.appendChild(text);
            elem.appendChild(p);
         });
      }

      return elem
   }

</script>

<div id='title'>
   <p class='big'>Options</p>
</div>
<div id='content'>
   <!-- <div class='col-4'>
      <p class='little'>One</p>
      <p class='little'>One</p>
   </div>
   <div class='col-4'>
      <p class='little'>Two</p>
      <p class='little'>Two</p>
   </div>
   <div class='col-4'>
      <p class='little'>Three</p>
      <p class='little'>Three</p>
   </div> -->
</div>
