<script>
   function update(data) {
      var node = document.createElement("p");
      var textnode = document.createTextNode("New");
      node.appendChild(textnode);

      var parent = document.getElementById("content");
      parent.appendChild(node);
   }
</script>

<div id='title'>
   <p class="big">Options</p>
</div>
<div id='content'>
   <!-- <div class="col-4">
      <p class="little">One</p>
   </div>
   <div class="col-4">
      <p class="little">Two</p>
   </div>
   <div class="col-4">
      <p class="little">Three</p>
   </div> -->
</div>
