<script>
   function update(data) {
      // data.Data.forEach(function(item, index) {
      //    var node = document.createElement("p");
      //    var textnode = document.createTextNode(JSON.stringify(data));
      //    node.appendChild(textnode);
      //
      //    var parent = document.getElementById("content");
      //    parent.appendChild(node);
      // });
   }

   function singleCol(message) {
      document.getElementById("content").innerHTML.append("<div class='col-4'><p class='little'>" + message + "</p></div>");
   }

   singleCol("a");
   singleCol("b");
</script>

<div id='title'>
   <p class="big">Options</p>
</div>
<div id='content'>
   <!-- <div class="col-4">
      <p class="little">One</p>
   </div>
   <div class="col-4">
      <p class="little">Two</p>
   </div>
   <div class="col-4">
      <p class="little">Three</p>
   </div> -->
</div>
