<style>
   .border {
      border-style: none;
      border-width: 1px;
      border-color: #FFFFFF;
   }
   .head, .datum {
      border-width: 1px;
      border-color: #4F628E;
   }
   .head {
      text-align: right;
      padding-right: 20px;
      border-right-style: solid;
   }
   .datum {
      text-align: left;
      padding-left: 20px;
      border-left-style: solid;
   }
</style>
<script>
function datum_pair(head, datum) {
   // create row
   var row = document.createElement('div');
   row.className = "row";

   var head_div = document.createElement('div');
   var head_p = document.createElement('p');
   var head_text = docuemnt.createTextNode(head);

   head_div.className = "col-6";
   head_p.className = "big head"

   head_p.appendChild(head_text);
   head_div.appendChild(head_p);

   var datum_div = document.createElement('div');
   var datum_p = document.createElement('p');
   var datum_text = docuemnt.createTextNode(head);

   datum_head.className = "col-6";
   datum_p.className = "big datum"

   datum_p.appendChild(datum_text);
   datum_div.appendChild(datum_p);

   row.appendChild(head_div);
   row.appendChild(datum_div);

   return row
}
</script>
<div id='title'>
   <p class="big">X01</p>
</div>
<div id='content'>
   <div class="row">
      <div class="col-6 border">
         <div class="row">
            <div class="col-6">
               <p class="big head">Throw</p>
            </div>
            <div class="col-6">
               <p class="big datum">2/3</p>
            </div>
         </div>
         <div class="row">
            <div class="col-6">
               <p class="little head">Round </p>
            </div>
            <div class="col-6">
               <p class="little datum">1</p>
            </div>
         </div>
         <div class="row">
            <div class="col-6">
               <p class="little head">Round </p>
            </div>
            <div class="col-6">
               <p class="little datum">1</p>
            </div>
         </div>
      </div>
      <div class="col-6 border">
         <div class="row">
            <div class="col-6">
               <p class="big head">Player 1</p>
            </div>
            <div class="col-6">
               <p class="big datum">Score 1</p>
            </div>
         </div>
         <div class="row">
            <div class="col-6">
               <p class="little head">Player 1</p>
            </div>
            <div class="col-6">
               <p class="little datum">Score 1</p>
            </div>
         </div>
         <div class="row">
            <div class="col-6">
               <p class="little head">Player 1</p>
            </div>
            <div class="col-6">
               <p class="little datum">Score 1</p>
            </div>
         </div>
         <div class="row">
            <div class="col-6">
               <p class="little head">Player 1</p>
            </div>
            <div class="col-6">
               <p class="little datum">Score 1</p>
            </div>
         </div>
         <div class="row">
            <div class="col-6">
               <p class="little head">Player 1</p>
            </div>
            <div class="col-6">
               <p class="little datum">Score 1</p>
            </div>
         </div>
         <div class="row">
            <div class="col-6">
               <p class="little head">Player 1</p>
            </div>
            <div class="col-6">
               <p class="little datum">Score 1</p>
            </div>
         </div>
      </div>
   </div>
</div>
