<style>
   .border {
      border-style: none;
      border-width: 1px;
      border-color: #FFFFFF;
   }
   .head, .datum {
      border-width: 1px;
      border-color: #4F628E;
   }
   .head {
      text-align: right;
      padding-right: 20px;
      border-right-style: solid;
   }
   .datum {
      text-align: left;
      padding-left: 20px;
      border-left-style: solid;
   }
</style>
<div id='title'>
   <p class="big">X01</p>
</div>
<div id='content'>
   <div class="row">
      <div class="col-6 border test">
         <div class="row">
            <div class="col-6">
               <p class="big head">Throw</p>
            </div>
            <div class="col-6">
               <p class="big datum">2/3</p>
            </div>
         </div>
         <div class="row">
            <div class="col-6">
               <p class="little head">Round </p>
            </div>
            <div class="col-6">
               <p class="little datum">1</p>
            </div>
         </div>
         <div class="row">
            <div class="col-6">
               <p class="little head">Round </p>
            </div>
            <div class="col-6">
               <p class="little datum">1</p>
            </div>
         </div>
      </div>
      <div class="col-6 border">
         <div class="row">
            <div class="col-6">
               <p class="big head">Player 1</p>
            </div>
            <div class="col-6">
               <p class="big datum">Score 1</p>
            </div>
         </div>
         <div class="row">
            <div class="col-6">
               <p class="little head">Player 1</p>
            </div>
            <div class="col-6">
               <p class="little datum">Score 1</p>
            </div>
         </div>
         <div class="row">
            <div class="col-6">
               <p class="little head">Player 1</p>
            </div>
            <div class="col-6">
               <p class="little datum">Score 1</p>
            </div>
         </div>
         <div class="row">
            <div class="col-6">
               <p class="little head">Player 1</p>
            </div>
            <div class="col-6">
               <p class="little datum">Score 1</p>
            </div>
         </div>
         <div class="row">
            <div class="col-6">
               <p class="little head">Player 1</p>
            </div>
            <div class="col-6">
               <p class="little datum">Score 1</p>
            </div>
         </div>
         <div class="row">
            <div class="col-6">
               <p class="little head">Player 1</p>
            </div>
            <div class="col-6">
               <p class="little datum">Score 1</p>
            </div>
         </div>
      </div>
   </div>
</div>
